@charset "utf-8";
@import "mixins";

/* ========== VARIABLES ========== */
$gutter: 50px;
$iphoneGutterDelta: 32px;
$ipadGutterDelta: 22px;

/* ========== BASE ========== */
body {
  font-family: "Lucida Grande", sans-serif;
  font-size: 13px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

h1 {
	font-size: 1.1em;
  margin: $gutter 0;
}

@media screen and (max-width: 1024px), (max-width: 768px) {
  h1 {
    margin: $gutter - $ipadGutterDelta 0;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    margin: $gutter - $iphoneGutterDelta 0;
  }
}

/* ========== LAYOUT ========== */
#main-header {
  width: 120px;
  padding-left: $gutter;
  position: fixed;
}

#main-content {
	padding: 0 0 $gutter 120px + $gutter;
}

#main-footer {
	width: 120px;
  margin-top: 140px;
  color: #999;
  font-size: 9px;

  a {
    color: #3fbfff;
    text-decoration: none;

    &:hover,
    &focus {
      text-decoration: underline;
    }
  }

  p {
	  margin: 10px 0;
  }
}

@media screen and (max-width: 1024px), (max-width: 768px) {
  #main-header {
    padding-left: $gutter - $ipadGutterDelta;
  }

  #main-content {
    padding: 0 0 $gutter - $ipadGutterDelta 120px + $gutter - $ipadGutterDelta;
  }
}

@media screen and (max-width: 480px) {
  #main-header {
    padding-left: $gutter - $iphoneGutterDelta;
  }

  #main-content {
    padding: 0 0 $gutter - $iphoneGutterDelta 120px + $gutter - $iphoneGutterDelta;
  }
}

/* ========== MODULE ========== */
#logo {
  width: 64px;
  height: 64px;
  margin: 0 0 5px;

  a {
    display: block;
  }
}

#main-nav {
  li {
    margin-bottom: 8px;
  }

  a {
  	font-size: 0.9em;
    color: #3fbfff;
    text-decoration: none;

    &:hover,
    &focus {
      text-decoration: underline;
    }
  }
}

#app-list {
  overflow: hidden;
}

.app-item {
  margin: $gutter 0 0 $gutter;
  float: left;
  position: relative;

  > a:first-child {
    display: block;
  }
}

.tooltip {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  @include border-radius;
  border: 1px solid #000;
}

@media screen and (max-width: 1024px), (max-width: 768px) {
  .app-item {
    margin: $gutter - $ipadGutterDelta 0 0 $gutter - $ipadGutterDelta;

    img {
      width: 128px;
      height: 128px;
    }
  }
}

@media screen and (max-width: 480px) {
  .app-item {
    margin: $gutter - $iphoneGutterDelta 0 0 $gutter - $iphoneGutterDelta;

    img {
      width: 64px;
      height: 64px;
    }
  }
}

/* ========== STATE ========== */
