@charset "utf-8";
@import "mixins";

/* ========== BASE ========== */
body {
  font-family: "Lucida Grande", sans-serif;
  font-size: 13px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

/* ========== LAYOUT ========== */
#main-header {
  width: 256;
  padding-left: 50px;
  position: fixed;
}

#main-content {
	padding: 0 0 50px 306px;
}

#main-footer {
  margin-top: 30px;
  color: #999;
  font-size: 11px;

  a {
    color: #3fbfff;
    text-decoration: none;

    &:hover,
    &focus {
      text-decoration: underline;
    }
  }
}

/* ========== MODULE ========== */
#logo {
  width: 256px;
  height: 256px;

  a {
    display: block;
  }
}

#main-nav {
  li {
    margin-bottom: 2px;
  }

  a {
    color: #3fbfff;
    text-decoration: none;

    &:hover,
    &focus {
      text-decoration: underline;
    }
  }
}

#app-list {
  overflow: hidden;
}

.app-item {
  margin: 50px 0 0 50px;
  float: left;
  position: relative;

  > a:first-child {
    display: block;
  }
}

.tooltip {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  @include border-radius;
  border: 1px solid #000;
}

/* ========== STATE ========== */