---
layout: false
---
%ul#app-list
  - sorted = data.apps.sort_by { |a| [a[:category], a[:name]] }
  - category = ""
  - sorted.each do |a|
    - if category != a.category
      - category = a.category
      %li{class: "app-category"}
        %div= a.category
    %li{class: "#{a.shortname}"}
      %a{href: "#{a.downloadURL}", class: "application", title: "Download #{a.name}", target: "_blank"}