<div id="main-header">
  <header>
    <h1>
      <a href="{{ site.baseurl }}" id="logo" title="Home">
        <img alt="Retina Mac Apps" height="64" src="{{ site.baseurl }}images/retinapps@2x.png" title="{{ site.title }}" width="64"/>
        {{ site.title }}
      </a>
    </h1>
  </header>
</div>

<footer class="main-footer">
  <ul class="creators">
    <li>Crafted by:</li>
    <li>
      <a href="https://twitter.com/wr" target="_blank">Wells Riley</a>
    </li>
    <li>
      <a href="https://twitter.com/ianhirschfeld" target="_blank">Ian Hirschfeld</a>
    </li>
    <li>
      <a href="https://twitter.com/alexbaldwin" target="_blank">Alex Baldwin</a>
    </li>
  </ul>
  <p>&#9786; 2012</p>
</footer>