%footer#main-footer
  %p Copyright 2012
  %ul
    %li Created by&nbsp;
    - data.creators.each_with_index do |c, i|
      %li
        %a{href: "#{c.site}", target: "_blank", title: "Visit #{c.name}"}>= c.name