%footer.main-footer
  %p &#9999; 2012
  %p  
    Created by&nbsp;
    - data.creators.each_with_index do |c, i|
      %a{href: "#{c.site}", target: "_blank", title: "Visit #{c.name}"}>= c.name
      &nbsp;
      - unless i === data.creators.size - 1
        and&nbsp;
  %p All content is copyrighted by their respective owners.
