%footer.main-footer

  %ul#creators
    %li Crafted by:
    - data.creators.each do |c|
      %li
        %a{href: "#{c.site}", target: "_blank", title: "Visit #{c.name}"}>= c.name

  %p 
    &#9786; 
    = link_to "2012", "#", id: "openColophonModal", title: "Colophon"