%footer.main-footer

  %ul
    %li Crafted by:
    - data.creators.each_with_index do |c, i|
      %li
        %a{href: "#{c.site}", target: "_blank", title: "Visit #{c.name}"}>= c.name

  %p 
    &#9786; 
    %a#colophonModal= link_to "2012", "#", title: "Colophon"