%footer#main-footer
  %p &#9786; 2012
  %p  
    Created by 
    %a{href: "http://wells.ee", title: "Wells Riley"} Wells Riley
    and
    %a{href: "http://ianhirschfeld.com", title: "Ian Hirschfeld"} Ian Hirschfeld
  %p All content is copyrighted by their respective owners.