#main-header
	%header
		%h1
			%a#logo{href: "/", title: "Go home"}= data.config.title

	%nav
		%ul#main-nav
			%li
				%a{href: "#", title: "Submit your retina app"} Submit
			%li
				%a{href: "http://twitter.com/retinapps", target: "_blank", title: "Follow @retinapps"} @retinapps
			%li
				%a{href: "#", title: "Subscribe to our RSS feed"} RSS

	= partial "shared/_footer"