#main-header
	%header
		%h1
			%a#logo{href: "/", title: "Home"}
				%img{src: "/images/retinapps.png", alt: "Retina Mac Apps", title: "Retina Mac Apps", width: 64, height: 64}
			Retina Mac Apps
	
	%nav
		%ul#main-nav
			%li#openSubmissionModal= link_to "Submit your app", "#", title: "Submit your retina app"
			%li
				%a{href: "https://twitter.com/retinapps", target: "_blank", title: "Follow @retinapps"} @retinapps
			%li#openNewsletterModal=link_to "Weekly digest", "#", title: "Subscribe to email updates"
	
	%select#filter
		%option{value: "r"} Most Recent
		%option{value: "c"} Category
		%option{value: "n"} Name

	= partial "shared/footer"
