#main-header
	%header
		%h1
			#logo
				%a{href: "/", title: "Home"}
					%img{src: "/images/retinapps.png", alt: "Retina Mac Apps", title: "Retina Mac Apps", width: 128, height: 128}

	%nav
		%ul#main-nav
			%li
				%div#wufoo-z7x3p8
					%a{href: "http://retinapps.wufoo.com/forms/z7x3p9", title: "Submit your retina app"} Submit
			%li
				%a{href: "https://twitter.com/retinapps", target: "_blank", title: "Follow @retinapps"} @retinapps
			%li
				%a{href: "/feed.xml", title: "Subscribe to our RSS feed"} RSS

	= partial "shared/_footer"