#main-header
	%header
		%h1
			%a#logo{href: "/", title: "Home"}
				%img{src: "/images/retinapps.png", alt: "Retina Mac Apps", title: "Retina Mac Apps", width: 64, height: 64}
				Retina Mac Apps
	
	%nav
		%ul#main-nav
			%li#openSubmissionModal= link_to "Submit your app", "#", title: "Submit your retina app"
			%li#openNewsletterModal= link_to "Weekly digest", "#", title: "Subscribe to email updates"
			%li= link_to "@retinapps", "https://twitter.com/retinapps", title: "Follow @retinapps", target: "_blank"
	
	%select#filter
		%option{value: "r"} Most Recent
		%option{value: "c"} Category
		%option{value: "n"} Name

	#social
		%a{href: "https://twitter.com/share", class: "twitter-share-button", data: {via: "retinapps", related: "retinapps", dnt: "true"}} Tweet
		.fb-like{"data-show-faces" => "false", data: {href: "http://retinamacapps.com", send: "false", layout: "button_count", width: "150", font: "lucida grande"}}

	= partial "shared/footer"
