#submissionModal.reveal-modal
	#wufoo-z7x3p9{style: "max-height: 600px;"}
	:javascript
		var s = d.createElement(t), options = {
		'userName':'retinapps',
		'formHash':'z7x3p9',
		'autoResize':true,
		'height':'653',
		'async':true,
		'header':'show'};
		s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
		s.onload = s.onreadystatechange = function() {
		var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
		try { z7x3p9 = new WufooForm();z7x3p9.initialize(options);z7x3p9.display(); } catch (e) {}};
		var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
		})(document, 'script');
	%a.close-reveal-modal ×
:javascript
	$(document).ready(function() {
		$('#openSubmissionModal').click(function() {
			$('#submissionModal').reveal();
		});
	});